.header__container {
  position: relative;
}

.header__main-inner {
  display: flex;
  padding: 13px 0 0 0;
}

.header__main-phone {
  display: flex;
  margin-right: 102px;
}

.header__main-nav {
  margin-right: 127px;
}

.header__main-phone a {
  font-weight: 600;
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  padding-top: 3px;
}

.header__main-phone p {
  margin: 0;
  opacity: 0.3;
  font-weight: 600;
}

.header__main-list {
  display: flex;
  column-gap: 29px;
}

.header__main-item a {
  line-height: 14px;
  color: $basic-black;
  font-weight: 600;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 221px 923px;
  column-gap: 142px;
}

.header__logo img {
  padding-top: 39px;
}

.header__button {
  order: 1;
  width: 179px;
  height: 39px;
  margin-left: 19px;
  margin-top: 5px;
}

.header__main-wrapper {
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid $extra-black;
}

.header__main-item--option {
  position: relative;
}

.header__main-item--option::before {
  content: "";
  position: absolute;
  background-image: url("/img/arrow-header.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 5px;
  top: 7px;
  right: -15px;
}
