.icon {
  display: flex;
  column-gap: 33px;
}

.icon span {
  color: $basic-black;
  font-weight: 600;
}

.icon__search {
  position: relative;
}

.icon__search--lens:hover::before {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  top: -20px;
  left: -14px;
  z-index: -2;
  border-radius: 50%;
  fill: $basic-white;
  background-color: $special-red;
}

.icon__svg:hover path {
  fill: $basic-white;
}

.icon__item--search {
  position: relative;
}

.icon__item--search:hover .search {
  display: block;
  position: absolute;
}

.icon__item:first-child {
  display: flex;
  align-items: center;
  column-gap: 9px;
}
