.item {
  border-bottom: 1px solid $basic-black;
}

.item__title {
  color: $basic-black;
  font-size: $fs-title;
  line-height: $lh-title;
  margin: 15px 0 3px 0;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $special-red;
  }
}

.item__picture {
  transition: 0.5s;
  padding-bottom: 15px;

  &:hover {
    transform: scale(0.95);
  }
}

.item__text {
  padding-top: 3px;
  margin: 0;
}
