.option {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 568px;
  order: 2;
}

.option__item {
  font-size: 15px;
  line-height: 26px;
  margin-right: 5px;
}

.option__item p {
  margin: 0;
}

.option__link:hover {
  color: $special-red;
  cursor: pointer;
}
