.slider__wrapper {
  position: relative;
  display: flex;
  max-width: 1680px;
  min-height: 826px;
  margin: 0 auto;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 120px;
}

.slider__wrapper-big {
  position: relative;
  width: 1070px;
  height: auto;
}

.slider__wrapper-small {
  width: 580px;
  height: 593px;
}

.slider__list-big {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.slider__item-big {
  left: 0;
  top: 0;
  display: block;
}

.slider__item-big img {
  height: 826px;
}

.slider__item-big--second,
.slider__item-small--second {
  opacity: 0;
}

div.slider__dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.slider__dots {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}

.slider__wrapper-portfolio {
  margin-left: 30px;
}

.slider__portfolio {
  background-color: $special-red;
  width: 385px;
  height: 203px;
  color: $basic-white;
  padding: 26px 30px 30px 30px;
  position: relative;
  margin-bottom: 30px;
}

.slider__title {
  font-size: 26px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 60px;
}

.slider__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  width: 165px;

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 20px;
    background-image: url("/img/arrow.svg");
    background-repeat: no-repeat;
    right: 53px;
    bottom: 50px;
    z-index: 1;
  }
}

.slider__button {
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: $basic-white;
  border-radius: 50%;
  border: none;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
