.support {
  background-color: $special-black;
  height: 35px;
}

.support__list {
  display: flex;
  color: $basic-white;
  justify-content: flex-end;
  column-gap: 22px;
}

.support__item {
  display: flex;
  column-gap: 4px;
  margin: 9px 0 0 0;
}

.support__text {
  font-weight: 700;
  margin: 0;
  font-size: 12px;
  line-height: 17px;
}
