* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-size: $fs-main;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: $fw-normal;
  color: $basic-black;
  overflow-x: hidden;
}

.container {
  max-width: 1680px;
  padding: 0 193px;
  margin: 0 auto;
}

.button {
  font-size: $fs-main;
  line-height: 14px;
  color: $special-red;
  border: 2px solid $special-red;
  border-radius: 33px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    color: $basic-white;
    background-color: $special-red;
  }
}
