// Fonts
$font-main: "Montserrat", "Arial", sans-serif;
$fs-main: 14px;
$lh-main: 21px;
$fs-accent: 28px;
$lh-accent: 39px;
$fs-additional: 16px;
$lh-additional: 24px;
$fs-title: 20px;
$lh-title: 28px;
$fw-normal: 400;

// Color
$basic-white: #ffffff;
$basic-black: #000000;
$special-red: #ce3730;
$special-black: #272222;
$extra-black: rgba(0, 0, 0, 0.15);
$special-grey: #f1f1f1;
